.DS_Store
.idea
.idea/*
.idea/**
.idea/**/*
.idea/workspace.xml
node_modules
server.js
webpack.config.js
build
build/
build/*
build/**
build/**/*
src/app/static/css/*
src/app/static/css/**
src/app/static/js/*
src/app/static/js/**
mithril/
mithril/*
mithril/**
mithril/**/*
rev/*
rev/rev-manifest.json
test
test/
test/*
test/**
yarn.lock